<div *ngIf="_formService.showForm">
  <form [formGroup]="_formService.form" class="add-form">
    <div class="form-control">
      <label for="text">Task</label>
      <input
        type="text"
        name="text"
        formControlName="text" 
        id="text"
        placeholder="Add Task"
      />
    </div>
    <div class="form-control">
      <label for="day">Day & Time</label>
      <input
        type="text"
        name="day"
        formControlName="day"
        id="day"
        placeholder="Add Day & Time"
      />
    </div>
    <div class="form-control form-control-check">
      <label for="reminder">Set Reminder</label>
      <input
        type="checkbox"
        name="reminder"
        formControlName="reminder"
        id="reminder"
      />
    </div>
    <input [disabled]="_formService.form.invalid" type="submit" (click)="onSubmit()" value="{{_formService.editMode ? 'Update Task' : 'Save Task'}}" class="btn btn-block" />
  </form>
</div>
